html, body{
  margin: 0;
  padding: 0;
  background-color: #FFFCF0;
}
.topnav {
  background-color: #FFFCF0;
  overflow: hidden;
  height: 40px;
}
.topnav a {
  justify-content: center;
  color: #AA6C6C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
  font-weight: bold;
}
.topnav a.active img{
  height: 20px;
}
.imgMenu img {
  width: 200px;
  height: 150px;
}
h1{
  color: #AA6C6C;
  font-family: Arial;
}
.homeBackground {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.homeContent{
  background-color: #FFFCF0;
  text-align: center;
}
.homeContent h1{
  font-size: 60px;
}
.homeContent h2{
  font-family: solway;
  color: #AA6C6C;
}
.menuBackground{
  height: 600px;
  background-color: #FFFCF0;
}
.orderBackground{
  height: 600px;
  background-color: #FFFCF0;
}
.aboutBackground{
  height: 600px;
  background-color: #FFFCF0;
}
footer{
  text-align: center;
}
