.topnav {
  background-color: #713d2a;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}
.topnav a.active {
  color: white;
  font-family: Arial;
}
.imgMenu img {
  width: 200px;
  height: 150px;
}
body{
  background-color: #f5f5ef;
}
h1{
  color: #713d2a;
  font-family: Arial;
}
.homeBackground {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.homeContent{
  background-color: green;
  text-align: center;
}
.menuBackground{
  height: 600px;
  background-color: pink;
}
.orderBackground{
  height: 600px;
  background-color: blue;
}
.aboutBackground{
  height: 600px;
  background-color: purple;
}
